body {
  background-color: #0d47a1;
}

.container {
  margin-top: 50px;
  background-color: #e3f2fd;
  padding: 25px;
}

.top-margin {
  margin-top: 100px;
}

#status-message {
  color: red;
}

td {
  text-align: center;
}

#vote-count {
  background-color: #fff;
  margin-top: 50px;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 5px #ccc;
}

tr {
  border-top: 1px solid #ccc;
}

input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #2196F3;
  box-shadow: 0 1px 0 0 #2196F3;
}

input[type=password]:focus:not([readonly]) {
  border-bottom: 1px solid #2196F3;
  box-shadow: 0 1px 0 0 #2196F3;
}

input[type=text]:focus:not([readonly]) + label {
  color: #2196F3;
}

input[type=password]:focus:not([readonly]) + label {
  color: #2196F3;
}

input:not([type]) {
  width: 90%;
  background-color: #fff;
  border: 1px solid #ccc;
  height: 32px;
}

input:not([type]):focus:not([readonly]) {
  width: 90%;
  border-bottom: 1px solid #ccc;
  box-shadow: none;
}

button:focus {
  margin: none;
  background-color: #ccc;
  outline: none;
}

.clipboard button {
  position: absolute;
  padding: 6px;
  display: inline;
  margin: 0px;
  height: 34px;
  border: 1px solid #ccc;
  background-color: #eee;
}

.btn-clip img {
  width: 16px;
}

clipboard input, button {
  display: inline;
}
