<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link rel="stylesheet" href="/style/app.css" media="screen" title="no title" charset="utf-8">
    <title>Crowdsource</title>
  </head>
  <body>
    <div class="container center">
      <div class="row">
        <div class="col s6 offset-s3">
          <h3>The Admin has close the poll, slowpoke</h3>
          <img src="https://45.media.tumblr.com/217e03cef0e2d707aed2930117ac5548/tumblr_mz1y49zwkO1swdfc0o1_500.gif" alt="slowpoke" />
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/admin.js"></script>
  </body>
</html>
