<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link rel="stylesheet" href="/style/app.css" media="screen" title="no title" charset="utf-8">
    <title>Crowdsource</title>
  </head>
  <body>
    <div class="container center">
      <div class="row">
        <div class="col s6 offset-s3">
          <h3>The page you are looking for doesn't exist</h3>
          <img src="https://media.giphy.com/media/xT77XWum9yH7zNkFW0/giphy.gif" alt="giphy-gif"/>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/admin.js"></script>
  </body>
</html>
