<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link rel="stylesheet" href="/style/app.css" media="screen" title="no title" charset="utf-8">
    <title>Crowdsource</title>
  </head>
  <body>
    <div class="container">
      <div class="center">
        <h3>Create a New Poll</h3>
      </div>
      <div class="row">
        <div class="col s6 offset-s3">
          <div class="new-poll">
            <form class="new-poll-form" action="/polls" method="post">
              <input type="text" name="name" placeholder="poll name">
              <input type="text" name="description" placeholder="poll description">
              <input type="text" name="answer[]" placeholder="poll answer one">
              <input type="text" name="answer[]" placeholder="poll answer two">
              <input type="text" name="answer[]" placeholder="poll answer three">
              <input type="submit" id="submit" value="submit" class="btn blue">
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </body>
</html>
